/****** General ***********/ 
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.bold {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/***************** Header ********************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 80px;
    margin: 20px 20px 20px 0px;
}

nav a{
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 29px;
}

nav a:hover{
    color: var(--main-color);
    border-top: 3px var(--main-color) solid;
}

/***************** Footer *********************/

footer{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
}

footer div{
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

footer span{
    font-weight: 700;
    padding: 8px;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    padding: 8px;
    list-style: none;
}

/************ search-and-filters **************/

.search-and-filters{
    padding-top: 20px;
    padding-bottom: 20px;
}

/**************** Searchs *********************/

.searchs{
    display: flex;
    padding: 10px;
}

.searchs i{
    color: black;
    padding: 15px 18px 15px 20px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input[type="search"]{
    padding: 15px 10px 15px 10px;
    margin: 0;
    border: 1px var(--main-bg-color) solid;
}

button[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.button-magnifying-glass-logo{
    display: none;
    border-radius: 15px;
    color: white;
}

.button-magnifying-glass-logo i{
    background-color:var(--main-color) ;
    color: white;
    border-radius: 15px;
    padding: 10px;
}
/**************** Filters *********************/

.filters{
    display: flex;
    align-items: center;
}

.filterSelection{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.filterSelection button{
    margin: 0px 5px 0px 5px;
    padding: 5px 20px 5px 10px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 2px var(--main-bg-color) solid;
}

.element i{
    padding: 10px ;
}

.element:hover{
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

/**************** Info *********************/

.info{
    display: flex;
    align-items: center;
}

.info i{
    padding: 6px 11px 6px 11px;
    margin: 10px;
    border: 2px var(--main-bg-color) solid;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    margin-top: 31px;
}

.hebergements-cards a{
    width: 31%;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements h3{
    margin-top: 31px;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************** Activities *****************/

.activities {
    padding: 30px;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities-cards .card {
    padding: 0;
    margin-top: 30px;
}

.activities-cards a{
    width: 23%;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-title {
    padding-left: 15px;
    margin-top: 15px;
    padding-bottom: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* ******** filters ********* */

    .filters{
        flex-direction: column;
        align-items: flex-start;
    }

    .filterSelection{
        margin-left: 0;
    }

    .element{
        margin-left: 0;
    }

    .info i{
        margin-left: 0;
    }

    /* ****** heb and pop ******* */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* ****** activities ******* */

    .activities-cards img{
        height: 200px;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
        margin: 0;
    }

    /* ***** Header ******* */

    header{
        flex-direction: column;
    }

    nav{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    nav a{
        margin: 0px;
        padding: 20px;
        border-bottom: 3px var(--main-bg-color) solid;
    }

    nav a:hover{
        border-top: 0;
        border-bottom: 3px var(--main-color) solid;
    }

    /* ***** Search ******* */
    .button-magnifying-glass-logo{
        display: initial;
    }

    input[type="search"]{
        border-right: 0px;
    }

    .button-text{
        display: none;
    }

    /* ***** Filters ******* */

    .filterSelection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    /* ***** Heb & pop ******* */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section{
        border-radius: 0px;
    }
    /* ***** populaires ******* */

    .populaires{
        background-color: var(--main-bg-color);
        margin: 0;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards .card{
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* ***** hebergements ******* */

    .hebergements{
        background-color: unset;
        margin: 0px;
    }

    .hebergements-cards{
        flex-direction: column;
    }

    .hebergements-cards a{
        width: 100%;
    }

    .hebergements-cards .card{
        flex-direction: row;
    }

    .hebergements-cards a:nth-child(2){
        order: 6;
    }
    .hebergements-cards a:nth-child(3){
        order: 3;
    }
    .hebergements-cards a:nth-child(4){
        order: 4;
    }
    .hebergements-cards a:nth-child(5){
        order: 2;
    }
    .hebergements-cards a:last-child{
        order: 5;
    }

    /* ***** Activities ******* */

    .activities-cards{
        flex-direction: column;
    }

    .activities-cards a{
        width: 100%;
    }

    .activities-cards .card-title{
        height: 100px;
    }
    /* ******* Footer ********* */

    footer{
        flex-direction: column;
    }

    footer div{
        width: 100%;
        padding: 15px;
    }
}